/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --font-weight-bold: 700;
  --font-weigh-normal: 400;
  --background-color: #ffffff;
  --main-color: #000000;
  --button-hover: var(--background-color);
  --background-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}


:root.theme-dark {
  --font-weight-bold: 785;
  --font-weigh-normal: 465;
  --background-color: #000000;
  --main-color: #00cc14;
  --button-hover: var(--main-color);
  --background-gradient:
    repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-bold: 785;
    --font-weigh-normal: 465;
    --background-color: #000000;
    --main-color: #00cc14;
    --button-hover: var(--main-color);
    --background-gradient:
    repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --filter-3: saturate(1.5) hue-rotate(150deg);
  }
}
